# ============================================================
# Configuración WireGuard VPN Institucional
# Copia este archivo como config/wg-server.env y edítalo.
# ============================================================

# Nombre de la interfaz WireGuard
WG_INTERFACE="wg0"

# Puerto UDP donde escucha WireGuard
WG_PORT="51820"

# IP del servidor dentro de la VPN
SERVER_WG_IPV4="172.27.240.1/24"

# Red completa de clientes VPN
VPN_CIDR="172.27.240.0/24"

# Red interna institucional a la que tendrán acceso los usuarios
LAN_CIDR="192.168.10.0/24"

# Interfaz LAN del servidor VPN.
# Detecta con: ip route | grep default
LAN_INTERFACE="ens18"

# Endpoint público del instituto.
# Puede ser dominio o IP pública.
SERVER_ENDPOINT="vpn.instituto.gob.mx:51820"

# DNS que usarán los clientes conectados.
# Puede ser el DNS/router interno, un DNS institucional o un DNS público.
CLIENT_DNS="192.168.10.1"

# Split tunnel recomendado:
# Solo se enruta hacia la VPN y la LAN interna.
CLIENT_ALLOWED_IPS="172.27.240.0/24, 192.168.10.0/24"

# true  = piloto rápido con NAT/MASQUERADE desde servidor VPN hacia LAN.
# false = routing mode: requiere ruta en el core/router: VPN_CIDR via IP_LAN_SERVIDOR_VPN.
NAT_MODE="true"

# Si UFW está activo, abrirá el puerto WireGuard automáticamente.
MANAGE_UFW="true"
